<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Password Reset</title>
    <style></style>
  </head>
  <body>
    <h3>Hello ${username},</h3>
    <p>
      Your requested for a password reset. Use this password before as your
      temporal password.<br />You can change it when you log in
    </p>

    <div class="">
      <input type="text" name="" id="password-text" value="${token}" disabled />
      <button id="copy-btn">copy</button>
    </div>
    <script>
      const text = document.getElementById("password-text");
      const button = document.getElementById("copy-btn");

      button.onclick = () => {
        navigator.clipboard.writeText(text.value);
        button.innerHTML = "copied";
        setTimeout(() => {
          button.innerHTML = "copy";
        }, 1000);
      };
    </script>
  </body>
</html>
